<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.11</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>FDC3 Java Example</string>
  <key>CFBundleIconFile</key>
  <string>FDC3 Java Example.icns</string>
  <key>CFBundleIdentifier</key>
  <string>org.finos.fdc3.example</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>FDC3 Java Example</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
  <key>CFBundleVersion</key>
  <string>1.0.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (C) FINOS</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>FDC3 Java App Launch</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fdc3-java-app</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
